<h1>Menu here</h1>
<% @products.each do |product| %>
	<div class="container">
		<div class="row">
		  <div class="col-md-2"><img src=<%= product.path_to_image %> class="img-rounded"/></div>
		  <div class="col-md-2"><p class="lead"><%= product.title %></p></div>
		  <div class="col-md-2"><small>	<%= product.description %>	</small></div>
		  <div class="col-md-2"><%= product.size %></div>
		  <div class="col-md-2"><%= product.price %></div>
		</div>
	</div>
<% end %>
